<h1>Jobs</h1>
<div>
  <h4><%= @jobs_info_message %></h4>
  <%= button_to "Clear Search", user_jobs_path(current_user.id), method: "get" %>
</div>
<table>
  <tr>
    <th><h3>Name</h3></th>
    <th><h3>Description</h3></th>
    <th><h3>Employment Type</h3></th>
    <th><h3>Status</h2></th>
  </tr>

  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.name, user_job_path(user_id: job.user_id, id: job.id) %></td>
    <td><%= job.description.html_safe %></td>
    <td><%= job.employment_type %></td>
    <td><%= job.status %></td>
    <td><%= button_to "Add a Comment", user_jobs_path(current_user.id), method: "get" %></td>
  </tr>
  <% end %>

</table>

