<h1><%= @job.name %></h1>
<p><%= @job.description %></p>
<div>
  <h5>Status: <%= @job.status %></h5>
  <h5>Employment Type: <%= @job.employment_type %></h5>
</div>
<div>
  <li><%= link_to "Update", edit_user_job_path %></li>
  <li><%= link_to "Delete", user_job_path, :method => :delete %></li>
</div>
